In [1]:
import datetime
from datetime import timedelta
import pandas as pd
import numpy as np
import xarray as xr
import matplotlib.pyplot as plt
import time

# from sklearn.ensemble import RandomForestClassifier  # 导入需要的模块
# from sklearn.model_selection import GridSearchCV, cross_validate
# from sklearn import metrics
# import sklearn

读入所有数据

In [2]:
# AVD_201606 = pd.read_csv('/home/fuhy/data/CALIPSO/CALIPSO_AVD_2016_06.csv', header=[0])
# AVD_201606.shape
month = 1
num_mon = '%02d' % month
AVDlabel = pd.read_csv('/home/fuhy/data/CALIPSO/CALIPSO_AVD_2016_' + num_mon + '.csv', header=[0])
H8bands = pd.read_csv('/home/fuhy/data/SWC/H8_SWC_2016_' + num_mon + '.csv', header=[0])
ERApl_o3 = pd.read_csv('/home/fuhy/data/SWC/code/ERApl_o3' + num_mon + '.csv', header=[0])
ERApl_q = pd.read_csv('/home/fuhy/data/SWC/code/ERApl_q' + num_mon + '.csv', header=[0])
ERApl_t = pd.read_csv('/home/fuhy/data/SWC/code/ERApl_t' + num_mon + '.csv', header=[0])
ERAsl = pd.read_csv('/home/fuhy/data/SWC/code/ERAsl_' + num_mon + '.csv', header=[0])
print(AVDlabel.shape)
print(H8bands.shape)
print(ERApl_o3.shape)
print(ERApl_q.shape)
print(ERApl_t.shape)
print(ERAsl)

(697088, 810)
(697088, 21)
(697088, 44)
(697088, 44)
(697088, 44)
        Unnamed: 0  Latitude_2  Longitude_2  Profile_UTC_Time_2  \
0                0   -60.01484   -162.30870       160101.063425
1                1   -59.97163   -162.33740       160101.063433
2                2   -59.92849   -162.36630       160101.063442
3                3   -59.88527   -162.39480       160101.063451
4                4   -59.84209   -162.42330       160101.063459
...            ...         ...          ...                 ...
697083      697083    52.67567     80.08447       160127.880313
697084      697084    52.63158     80.06390       160127.880321
697085      697085    52.58749     80.04350       160127.880330
697086      697086    52.54365     80.02301       160127.880338
697087      697087    52.49947     80.00257       160127.880347

                     dt_ERA  lat_ERA  lon_ERA         sp        skt      tcwv
0       2016-01-01 02:00:00   -60.00   197.75   99543.31  275.79500  9.043471
1       2016-01-01 02:00:00   -60.00   197.75   99543.31  275.79500  9.043471
2       2016-01-01 02:00:00   -60.00   197.75   99543.31  275.79500  9.043471
3       2016-01-01 02:00:00   -60.00   197.50   99565.60  275.99808  9.094188
4       2016-01-01 02:00:00   -59.75   197.50   99591.45  276.27728  9.023749
...                     ...      ...      ...        ...        ...       ...
697083  2016-01-27 21:00:00    52.75    80.00  101218.32  251.34721  1.741821
697084  2016-01-27 21:00:00    52.75    80.00  101218.32  251.34721  1.741821
697085  2016-01-27 21:00:00    52.50    80.00  100798.45  249.77540  1.646026
697086  2016-01-27 21:00:00    52.50    80.00  100798.45  249.77540  1.646026
697087  2016-01-27 21:00:00    52.50    80.00  100798.45  249.77540  1.646026

[697088 rows x 10 columns]

In [3]:
file = '/home/public/data/ERA5/reanalysis-era5-pressure-levels/ozone_mass_mixing_ratio_201607.nc'
varnames = ['o3', 'q', 't']
varname = varnames[0]
dataset = xr.open_dataset(file)
var = dataset[varname]
o3 = dataset['o3'] # temperature variable
print(type(o3))
o3.shape

<class 'xarray.core.dataarray.DataArray'>

(744, 37, 481, 481)

In [4]:
# file = '/home/public/data/ERA5/reanalysis-era5-pressure-levels/ozone_mass_mixing_ratio_201607.nc'
# varnames = ['o3', 'q', 't']
# varname = varnames[0]
# dataset = xr.open_dataset(file)
# var = dataset[varname]
# o3 = dataset['o3'] # temperature variable
# time = dataset.variables['time'][:].data # temperature variable
# print(time[:])
# for i in range(len(time[:])):
#     tstamp=(time[i]-613608)*3600
#     date=datetime.datetime.utcfromtimestamp(tstamp)
#     print(date.strftime("%Y-%m-%d %H:%M:%S"))

In [5]:
ERApl_o301 = pd.read_csv('/home/fuhy/data/SWC/code/ERApl_o301.csv', header=[0])
ERApl_o301.shape

(697088, 44)

In [6]:
ERApl_o301.head()

,Unnamed: 0,Latitude_2,Longitude_2,Profile_UTC_Time_2,dt_ERA,lat_ERA,lon_ERA,o3_1,o3_2,o3_3,...,o3_775,o3_800,o3_825,o3_850,o3_875,o3_900,o3_925,o3_950,o3_975,o3_1000
0,0,-60.01484,-162.3087,160101.063425,2016-01-01 02:00:00,-60.00,197.75,0.000004,0.000005,0.000007,...,3.852074e-08,3.775676e-08,3.750210e-08,3.775676e-08,3.801142e-08,3.852074e-08,3.953937e-08,3.928471e-08,3.571949e-08,2.196794e-08
1,1,-59.97163,-162.3374,160101.063433,2016-01-01 02:00:00,-60.00,197.75,0.000004,0.000005,0.000007,...,3.852074e-08,3.775676e-08,3.750210e-08,3.775676e-08,3.801142e-08,3.852074e-08,3.953937e-08,3.928471e-08,3.571949e-08,2.196794e-08
2,2,-59.92849,-162.3663,160101.063442,2016-01-01 02:00:00,-60.00,197.75,0.000004,0.000005,0.000007,...,3.852074e-08,3.775676e-08,3.750210e-08,3.775676e-08,3.801142e-08,3.852074e-08,3.953937e-08,3.928471e-08,3.571949e-08,2.196794e-08
3,3,-59.88527,-162.3948,160101.063451,2016-01-01 02:00:00,-60.00,197.50,0.000004,0.000005,0.000007,...,3.826608e-08,3.775676e-08,3.775676e-08,3.801142e-08,3.852074e-08,3.877540e-08,3.953937e-08,3.928471e-08,3.699279e-08,2.196794e-08
4,4,-59.84209,-162.4233,160101.063459,2016-01-01 02:00:00,-59.75,197.50,0.000004,0.000005,0.000007,...,3.826608e-08,3.775676e-08,3.750210e-08,3.801142e-08,3.826608e-08,3.877540e-08,3.953937e-08,3.928471e-08,3.724745e-08,2.222259e-08

In [7]:
ERApl_q01 = pd.read_csv('/home/fuhy/data/SWC/code/ERApl_q01.csv', header=[0])
print(ERApl_q01.shape)
ERApl_q01.head()

(697088, 81)

,Unnamed: 0,Latitude_2,Longitude_2,Profile_UTC_Time_2,dt_ERA,lat_ERA,lon_ERA,o3_1,o3_2,o3_3,...,q_775,q_800,q_825,q_850,q_875,q_900,q_925,q_950,q_975,q_1000
0,0,-60.01484,-162.3087,160101.063425,2016-01-01 02:00:00,-60.00,197.75,0.000004,0.000005,0.000007,...,0.001119,0.001319,0.001665,0.002007,0.002215,0.002389,0.002985,0.003564,0.003508,0.003635
1,1,-59.97163,-162.3374,160101.063433,2016-01-01 02:00:00,-60.00,197.75,0.000004,0.000005,0.000007,...,0.001119,0.001319,0.001665,0.002007,0.002215,0.002389,0.002985,0.003564,0.003508,0.003635
2,2,-59.92849,-162.3663,160101.063442,2016-01-01 02:00:00,-60.00,197.75,0.000004,0.000005,0.000007,...,0.001119,0.001319,0.001665,0.002007,0.002215,0.002389,0.002985,0.003564,0.003508,0.003635
3,3,-59.88527,-162.3948,160101.063451,2016-01-01 02:00:00,-60.00,197.50,0.000004,0.000005,0.000007,...,0.001150,0.001421,0.001843,0.002213,0.002448,0.002611,0.003143,0.003626,0.003550,0.003683
4,4,-59.84209,-162.4233,160101.063459,2016-01-01 02:00:00,-59.75,197.50,0.000004,0.000005,0.000007,...,0.001127,0.001387,0.001796,0.002162,0.002384,0.002581,0.003286,0.003613,0.003554,0.003718

In [11]:
ERApl_q01.columns

Index(['Unnamed: 0', 'Latitude_2', 'Longitude_2', 'Profile_UTC_Time_2',
       'dt_ERA', 'lat_ERA', 'lon_ERA', 'o3_1', 'o3_2', 'o3_3', 'o3_5', 'o3_7',
       'o3_10', 'o3_20', 'o3_30', 'o3_50', 'o3_70', 'o3_100', 'o3_125',
       'o3_150', 'o3_175', 'o3_200', 'o3_225', 'o3_250', 'o3_300', 'o3_350',
       'o3_400', 'o3_450', 'o3_500', 'o3_550', 'o3_600', 'o3_650', 'o3_700',
       'o3_750', 'o3_775', 'o3_800', 'o3_825', 'o3_850', 'o3_875', 'o3_900',
       'o3_925', 'o3_950', 'o3_975', 'o3_1000', 'q_1', 'q_2', 'q_3', 'q_5',
       'q_7', 'q_10', 'q_20', 'q_30', 'q_50', 'q_70', 'q_100', 'q_125',
       'q_150', 'q_175', 'q_200', 'q_225', 'q_250', 'q_300', 'q_350', 'q_400',
       'q_450', 'q_500', 'q_550', 'q_600', 'q_650', 'q_700', 'q_750', 'q_775',
       'q_800', 'q_825', 'q_850', 'q_875', 'q_900', 'q_925', 'q_950', 'q_975',
       'q_1000'],
      dtype='object')

In [11]:
len(time[:])

744

In [12]:
range(3)

range(0, 3)

In [ ]:
from tqdm import tqdm
for i in tqdm(range(0, 100)): 
    print(i)
    print(type(i))